.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to right, #78e7e7, #76d6d6);
  padding: 1em 0;
  list-style: none;
  flex-wrap: wrap;
}

.navbar-logo {
  height: 2em;
}

.logo-container {
  flex: 1;
  display: flex;
  align-items: center;
}

.nav-items-container {
  display: flex;
  justify-content: space-around;
  flex: 1.5;
}

.nav-item {
  text-decoration: none;
  color: #f8f6f4;
  font-weight: bold;
  margin: 0 1em;
  flex: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.nav-item:hover,
.nav-item.active {
  background-color: #647878;
  color: white;
  transition: 0.3s;
  border-radius: 10px;
}

.welcome-message {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  font-weight: bold;
  color: white;
}

@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
  }

  .navbar-logo {
    margin-bottom: 1em;
  }
}

@media (max-width: 441px) {
  .nav-items-container {
    flex-direction: column;
  }

  .nav-item {
    margin-bottom: 1rem;
  }
}
