.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #76d6d6;
  padding: 1em 0;
  list-style: none;
}

.nav-item {
  text-decoration: none;
  color: #f8f6f4;
  font-weight: bold;
}

.active {
  color: #8eadad;
  text-decoration: none;
}
