.categoriesContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.topActions {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
  width: 100%;
}
