.TableContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Table {
  max-width: 700px;
  width: 100%;
  border-collapse: collapse;
}

.Table th,
.Table td {
  border: 1px solid #c4dfdf;
  padding: 0.5rem;
  text-align: left;
}

.Table th {
  background-color: #7adada;
  color: #333;
  text-align: center;
}

.actionContainer {
  display: flex;
  justify-content: space-evenly;
}

.editButton,
.deleteButton {
  margin-right: 1rem;
  background-color: #7adada;
  border: none;
  color: #333;
  padding: 0.625rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 0.3125rem;
  transition-duration: 0.4s;
}

button:hover {
  background-color: #96a3a3;
}
